.RData
.Rhistory
docs/RMarkdown/CyL_geo.csv
docs/RMarkdown/CyL_raw.zip
docs/RMarkdown/CyL_raw
docs/RMarkdown/temp_CyL
docs/RMarkdown/G10-ME04-Moisés Alfonso Guerrero Jiménez - Andrés Castaño Licona.pdf